black==23.9.1
click==8.1.7
clidantic==0.1.0      
colorama==0.4.6       
iniconfig==2.0.0      
isort==5.12.0
Jinja2==3.1.2
json5==0.9.14
markdown-it-py==3.0.0 
MarkupSafe==2.1.3     
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.1       
pathspec==0.11.2      
platformdirs==3.10.0  
pluggy==1.3.0
pydantic==1.10.12     
Pygments==2.16.1      
pygtrie==2.5.0        
pytest==7.4.2
rich==13.5.3
ruff==0.0.291
typer==0.9.0
typing_extensions==4.8.0
pdbparse==1.5.0