{
    "analysis_tool": "kreo",

    "isa": "x86",

    "binary_path": "../{{ name }}/{{ name }}.exe",
    "pdb_file": "../{{ name }}/{{ name }}.pdb",

    "results_path": "../../evaluation/results/in/{{ name }}-kreo",
    "results_instrumented_path": "../../evaluation/results/in-instrumented-kreo/{{ name }}",

    "base_directory": "kreo-{{ name }}"
}
