{
    "isa": "x86",

    "binaryPath": "../{{ name }}/{{ name }}.exe",
    "pdbFile": "../{{ name }}/{{ name }}.pdb",

    "resultsPath": "../../evaluation/results/in/{{ name }}-kreo",
    "resultsInstrumentedPath": "../../evaluation/results/in-instrumented-kreo/{{ name }}",

    "baseDirectory": "kreo-{{ name }}"
}
