{
    "isa": "x86",

    "binary_path": "../{{ name }}/{{ name }}.exe",
    "pdb_file": "../{{ name }}/{{ name }}.pdb",

    "results_path": "../../evaluation/results/in/{{ name }}-lego",
    "results_instrumented_path": "../../evaluation/results/in-instrumented-lego/{{ name }}",

    "base_directory": "lego-{{ name }}",

    "enable_static_alias_analysis": false,
    "enable_calling_convention_analysis": false,
    "heuristic_fingerprint_improvement": false
}
