{
    "analysis_tool": "lego_plus",
    "isa": "x86",

    "binary_path": "../{{ name }}/ser4cpp_tests.exe",
    "pdb_file": "../{{ name }}/ser4cpp_tests.pdb",

    "results_path": "../../evaluation/results/in/{{ name }}-lego+",
    "results_instrumented_path": "../../evaluation/results/in-instrumented-lego+/{{ name }}",

    "base_directory": "lego+-{{ name }}"
}
