{
    "isa": "x86",

    "binaryPath": "../{{ name }}/ser4cpp_tests.exe",
    "pdbFile": "../{{ name }}/ser4cpp_tests.pdb",

    "resultsPath": "../../evaluation/results/in/{{ name }}-lego+",
    "resultsInstrumentedPath": "../../evaluation/results/in-instrumented-lego+/{{ name }}",

    "baseDirectory": "lego+-{{ name }}",

    "enableAliasAnalysis": false,
    "enableCallingConventionAnalysis": false
}
