{
    "isa": "x86",

    "binaryPath": "../{{ name }}/{{ name }}.exe",
    "pdbFile": "../{{ name }}/{{ name }}.pdb",

    "resultsPath": "../../evaluation/results/in/{{ name }}-lego",
    "resultsInstrumentedPath": "../../evaluation/results/in-instrumented-lego/{{ name }}",

    "baseDirectory": "lego-{{ name }}",

    "enableAliasAnalysis": false,
    "enableCallingConventionAnalysis": false,
    "heuristicFingerprintImprovement": false
}
